html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /*disable html selection and grab-hand on cursor*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.signature {
  color: gold;
  font-style: italic;
  font-size: 16;
  margin-bottom: 600px;
}

#play-area {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  width: 750px;
  margin-top: 4px;
}

#play-area:hover {
  cursor: crosshair;
}

.no-pointers {
  pointer-events: none;
}

.filled {
  background-color: black;
}

#clear,
#low,
#medium,
#high {
  position: absolute;
  margin-top: 600px;
  padding: 15px;
  border-radius: 25px;
}

#low,
#medium,
#high {
  margin-right: 890px;
  color: #fff;
}

#low {
  background-color: blue;
  margin-bottom: 800px;
}

#medium {
  background-color: orange;
  margin-bottom: 600px;
}

#high {
  background-color: green;
  margin-bottom: 400px;
}

.selected {
  border: solid lightblue 3px;
}
